*.iml
.gradle
/.vscode
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/deviceManager.xml
/.idea/misc.xml
/.idea/copilot.data.migration.agent.xml
/.env*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/firebase-debug.log
/firestore-debug.log
/database-debug.log
/emu_data
*.jks
/firebase.json
/start_emulator.bat
/.firebase

